/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: linear-gradient(to right, #1f1c2c, #928DAB);
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
	z-index:1000;
}

.logo a {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: #f39c12;
    display: inline-block;
    text-transform: uppercase;
}

.logo a span {
    color: #d35400;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #f39c12;
}

header .dropdown {
    position: relative;
}

header .dropdown-content, .submenu-content {
    display: none;
    position: absolute;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
	border: 1px solid #ddd;
}
header .dropdown:hover .dropdown-content {
    display: block;
	line-height: 1.5;
	padding-left: 10px;
    background: linear-gradient(to right, #1f1c2c, #928DAB);
}

header .dropdown-submenu:hover .submenu-content {
    display: block;
    left: 100%;
    top: 0;
	line-height: 0.5;
    background: linear-gradient(to right, #1f1c2c, #928DAB);
}

header .icons {
    display: flex;
    align-items: center;
}

header .icons a {
    margin-left: 15px;
}

header .icons img {
    width: 28px;
    height: 28px;
}

header .icons .logout,
header .icons .my-account {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

header .icons .logout:hover,
header .icons .my-account:hover {
    color: #f39c12;
}



/* Hamburger Menu for Smaller Screens */
.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    width: 30px;
}

.menu-toggle span {
    background-color: white;
    height: 3px;
    width: 100%;
    margin: 3px 0;
}

/* Hero Section */
.hero {
    position: relative;
    height: 70vh;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.8s ease-in-out;
}

.slide {
    flex: 1;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}
.slide:nth-child(1) {
    background-image: url('images/banner1.jpg');
}
.slide:nth-child(2) {
    background-image: url('images/banner2.jpg');
}
.slide:nth-child(3) {
    background-image: url('images/banner3.jpg');
}
.hero-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
	margin-left: 50px;
    padding: 12px 30px;
    font-size: 1.1rem;
    color: white;
    background-color: #f39c12;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: #d35400;
    transform: scale(1.05);
}
.controls {
    position: absolute;
    top: 35%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 100;
}
.controls span {
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.controls .prev {
    margin-left: 50px;
}
.controls .next {
    margin-right: 50px;
}
.controls span:hover {
    color: #ff9f43;
    transform: scale(1.2);
}

/* Featured Products Section */

.featured-section {
	padding: 50px 20px;
	background-color: #f9f9f9;
	text-align: center;
}
.featured-section .section-title {
	font-size: 2rem;
	margin-top: 0px;
	margin-bottom: 30px;
	color: #333;
	font-weight: bold;
}
.product-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
}
.product-card {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s, box-shadow 0.3s;
}
.product-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.product-image {
	width: 100%;
	height: 350px;
	object-fit: cover;
}
.product-name {
	font-size: 1.2rem;
	margin: 10px 0;
	color: #333;
}
.product-price {
	font-size: 1rem;
	color: #555;
	margin: 0px 0 10px;
}
.add-to-cart-btn {
	display: inline-block;
	background: linear-gradient(to right, #1f1c2c, #928DAB);
	color: #fff;
	border: none;
	padding: 10px 20px;
	margin: 0px 0 10px;
	font-size: 1rem;
    font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.add-to-cart-btn:hover {
	background-color: #0056b3;
}

/* Categories Section */
.categories-section {
  padding: 20px 20px;
  background-color: #f5f5f5;
  text-align: center;
}
.categories-section .section-title {
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}
.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.category-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.category-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 5px solid #928DAB;
}
.category-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
}

/* New Arrivals Section */
.new-arrivals {
  padding: 20px 20px;
  background-color: #f8f8f8;
}
.section-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.product-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.product-details {
  padding: 15px;
}
.product-name {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  color: #444;
}
.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}

/* Newsletter Section */
#newsletter {
    background: linear-gradient(to right, #1f1c2c, #928dab);
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 40px 0;
}

#newsletter h2 {
	color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#newsletter p {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

#newsletter form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#newsletter input[type="email"] {
    width: 400px;
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

#newsletter input[type="email"]:focus {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

#newsletter button {
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    color: #1f1c2c;
    background: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#newsletter button:hover {
    background: #1f1c2c;
    color: #fff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

#newsletter button:focus {
    outline: none;
}

/* Responsive */
@media (max-width: 768px) {
    #newsletter input[type="email"] {
        width: 100%;
    }

    #newsletter button {
        width: 100%;
    }
}



/* Footer Section */
.footer {
  background: linear-gradient(to right, #1f1c2c, #928dab);
  color: #ffffff;
  padding: 10px 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .container {
  max-width: 1200px;
  width: 100%;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.footer-brand h2 {
  font-size: 28px;
  font-weight: bold;
  color: #f39c12;
  margin-bottom: 10px;
}
.footer-brand h2 span {
    color: #d35400;
}
.footer-brand p {
  font-size: 16px;
  color: #d3d3d3;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #f4d03f;
}

.footer-social {
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
}

.social-icon {
  font-size: 20px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background 0.3s ease;
}

.social-icon:hover {
  background: #f4d03f;
  color: #1f1c2c;
  transform: scale(1.2);
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.footer-contact p {
  margin: 5px 0;
  color: #d3d3d3;
}

.footer-contact strong {
  color: #f4d03f;
}

.copyright {
  font-size: 12px;
  color: #d3d3d3;
  margin-top: 10px;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 10px;
  text-align: center;
}

/*Shop Page*/
.product-grid {
  padding: 10px 20px;
  background-color: #f9f9f9;
}

.section-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.product-name {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.product-price {
  font-size: 16px;
  color: #777;
}

.product-actions {
  margin-top: 10px;
}

.product-actions .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1f1c2c;
  color: #fff;
  font-size: 14px;
  margin: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
}

.product-actions .btn:hover {
  background-color: #928dab;
}

/*Pdetail page*/
.product-details container {
    width: 80%;
    margin: 0 auto;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 15px;
}

.product-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.image-gallery {
    width: 40%;
    margin-right: 20px;
    text-align: center;
}

.large-img {
    width: 75%;
    height: 400px;
    object-fit: contain;
    border-radius: 5px;
}

.small-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.small-images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.small-images img:hover {
    transform: scale(1.1);
}


.product-details h2 {
    font-size: 38px;
	text-transform: uppercase;
    margin-bottom: 15px;
}

.product-details p {
    font-size: 28px;
    margin: 10px 0;
}

.product-details strong {
    font-weight: bold;
    color: #333;
}


.product-details .quantity-container {
    align-items: center;
    gap: 10px;
}

.product-details .quantity-container input {
    width: 80px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.product-details button {
    background: linear-gradient(to right, #1f1c2c, #928DAB);
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-details button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .product-details {
        flex-direction: column;
        align-items: center;
    }

    .image-gallery {
        width: 100%;
        margin-bottom: 20px;
    }

    .small-images {
        justify-content: flex-start;
    }

    .small-images img {
        width: 80px;
        height: 80px;
    }

    .product-details .quantity-container input {
        width: 50px;
    }
}

.cart-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffcc00;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* About Us */
.hero-about {
  background: linear-gradient(to right, #1f1c2c, #928dab);
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.hero-about .hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-about .hero-text p {
  font-size: 1.2rem;
}

/* Brand Story Section */
.brand-story {
  padding: 40px 20px;
  text-align: center;
}

.brand-story img {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  border-radius: 10px;
}

/* Why Choose Us Section */
.why-choose-us {
  background: #f8f9fa;
  padding: 40px 20px;
  text-align: center;
}

.why-choose-us .features {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.why-choose-us .feature {
  flex: 1 1 250px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.why-choose-us .feature i {
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 10px;
}

/* Cart Page */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    text-align: center;
    padding: 10px;
}

th {
    background-color: #f4f4f4;
}

td {
    background-color: #fff;
}

.remove-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: darkred;
}

.checkout-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
	margin-bottom: 20px;
}

.checkout-btn:hover {
    background-color: #218838;
}

/* Checkout Page */
h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 2.5rem;
    color: #333;
}

.checkout-form {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

#checkout h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: #333;
}

#checkout label {
    font-size: 1.1rem;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

#checkout input[type="text"],
#checkout input[type="email"],
#checkout textarea,
#checkout select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

#checkout button {
    width: 100%;
    padding: 12px;
    background-color: #928DAB;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#checkout button:hover {
    background-color: #0056b3;
}

/* Order Summary */
#checkout ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

#checkout ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

#checkout ul li strong {
    font-weight: bold;
}

/* Total Amount */
#checkout p {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
}

/* User Account */
.user-account {
    margin-top: 40px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-account h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.account-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-container {
    width: 100%;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

.form-container h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #444;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fff;
    transition: border 0.3s ease;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
	text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

.existing-user {
    text-align: center;
    margin-top: 15px;
}

.existing-user .link {
    color: #007bff;
    cursor: pointer;
}

.existing-user .link:hover {
    text-decoration: underline;
}

/* Switch to Register from Login */
#switch-to-register {
    color: #007bff;
    cursor: pointer;
}

#switch-to-register:hover {
    text-decoration: underline;
}
.hidden {
    display: none;
}
.success-message {
    color: green;
    background-color: #e8f5e9;
    padding: 10px;
    border: 1px solid green;
    margin-top: 10px;
}
.error-message {
    color: red;
    background-color: #ffebee;
    padding: 10px;
    border: 1px solid red;
    margin-top: 10px;
}

/*My Account Page*/
.user-account .success-message {
	color: green;
	margin-bottom: 10px;
	}
.user-account .error-message {
	color: red; 
	margin-bottom: 10px; 
	}
.user-account {
	max-width: 500px;
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px; }
.user-account .form-group {
	margin-bottom: 15px;
	}
.user-account label { 
	display: block;
	margin-bottom:5px; 
	font-weight: bold; 
	}
.user-account input[type="text"], input[type="email"] { 
	width: 100%; 
	padding: 10px;
	border: 1px solid #ccc; 
	border-radius: 5px; 
	}
.user-account button {
	padding: 10px 20px;
	background-color: #928DAB; 
	color: #fff;
	border: none;
	border-radius:5px; 
	cursor: pointer; 
    font-weight: bold;
		
	}
.user-account button:hover {
	background-color: #218838; 
	}
.view-orders { 
    display: block; 
    text-align: center; 
    margin-top: 20px; 
    padding: 10px 20px; 
    background-color: #928DAB; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none; 
    font-weight: bold;
    }
.view-orders:hover { 
	background-color: #0056b3;
	}

/*Order History page*/
.orderhistory h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 2.5rem;
    color: #928dab;
}

.orderhistory table {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 8px;
}

.orderhistory th {
    background-color: #928dab;
    color: #fff;
    padding: 12px 15px;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
}

.orderhistory td {
    padding: 12px 15px;
    text-align: left;
    font-size: 1rem;
    border-bottom: 3px solid #f2f2f2;
    color: #555;
}

.orderhistory tr:hover {
    background-color: #f2f2f2;
}


        /* Chatbot Button to Toggle Dropdown */
        .chat-toggle-btn {
            position: fixed;
            bottom: 30px;
            right: 30px;
            background-color: red;
            color: #fff;
            border: none;
            padding: 10px 30px;
			border-radius: 25px;
            cursor: pointer;
            font-size: 1.3rem;
            z-index: 1001;
        }

        .chat-toggle-btn:hover {
            background-color: #45a049;
        }

        /* Chatbot Container */
        .chat-container {
            width: 350px;
            height: 400px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            display: none; /* Initially hidden */
            flex-direction: column;
            position: fixed;
            bottom: 80px; /* Position it below the button */
            right: 30px;
            z-index: 1000;
        }

        /* Header Styling */
        .chat-header {
            background-color: #1f1c2c;
            padding: 15px;
            text-align: center;
            color: white;
            font-size: 1.2em;
            font-weight: 600;
            border-radius: 10px 10px 0 0;
        }

        /* Chat messages box */
        .chat-box {
            flex-grow: 1;
            padding: 10px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        /* Message styling */
        .message {
            max-width: 80%;
            padding: 10px;
            border-radius: 10px;
            line-height: 1.4;
        }

        .user-message {
            background-color: #4CAF50;
            color: white;
            align-self: flex-end;
        }

        .bot-message {
            background-color: #f1f1f1;
            color: #333;
        }

        /* User Input Section */
        .user-input-section {
            display: flex;
            padding: 10px;
            background-color: #f9f9f9;
            border-top: 1px solid #ddd;
        }

        .user-input {
            flex-grow: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 25px;
            outline: none;
            font-size: 1em;
            color: #333;
        }

        .send-btn {
            background-color: #1f1c2c;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 25px;
            cursor: pointer;
            margin-left: 10px;
            font-size: 1.2rem;
            transition: background-color 0.3s ease;
        }

        .send-btn:hover {
            background-color: #45a049;
        }